<h1>Home#index</h1>

<% @tags_data.each do |tag_name, count| %>
    <span style='font-size: <%= count * 20 %>px'>
        <%= link_to tag_name, contents_path(tags: [tag_name]) %>(<%= count %>)
    </span>
<% end %>
